.custom-bg {
    background-image: url("../images/subtle-prism.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
}

body {
    position: relative;
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
    p, a {font-size:1.5rem;} /*1rem = 16px*/
}

.nav-pills .nav-link.active {
    background: none;
    font-weight: bold;
}

#logo {
    max-height: 80px;
}

#dish-list {
    font-family: 'Merriweather Sans', sans-serif;
}

.nav-link {
    font-family: 'Merriweather Sans', sans-serif;
    color: gold;
}

footer p {
    font-family: 'Merriweather Sans', sans-serif;
    color: gold;
}

@media print {
    #dish-list .row {page-break-after: always;}
    #dish-list img {display:none}
}

#dish-category {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.scroll::-webkit-scrollbar {
    display: none;
}