.custom-bg {
    background-image: url("../images/subtle-prism.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
}

#logo {
    max-height: 80px;
}

#dish-list {
    font-family: 'Merriweather Sans', sans-serif;
}

.nav-link {
    font-family: 'Merriweather Sans', sans-serif;
    color: gold;
    font-weight: bold;
}

@media print {
    #dish-list .row {page-break-after: always;}
    #dish-list img {display:none}
}